.text-gray {
	color: rgba(150,150,150,0.8);
}

.text-red {
	color: red;
}

.text-bold {
	font-weight: bold;
}

.clear-both {
	clear: both;
}

.form-group.shiny-input-container {
	width: 100%;
}

hr.dashed {
  border: none;
  border-top: 2px dashed #eee;
  color: rgba(255,255,255,0);
  background-color: rgba(255,255,255,0);
  height: 1px;
  width: 100%;
}